@using StudentHousing.Models
@model ApartmentsViewModel

@{
    ViewData["Title"] = "Home Page";

}

<html>
<body style="margin-top:50px">



    <div class="search-bar">
        <div class="search-container">
            @Html.DropDownList("CityDDL", Model.Cities)


            <form id="form-block" caction="/action_page.php">
                <input type="text" placeholder="Search by Apartment Name..." name="searchByName" />
                <input type="date" placeholder="Search by Availability..." name="searchByDate" />
                <select name="searchByBeds">
                    <option value="0">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <button type="submit"><i class="fa-search"></i>Search</button>
            </form>
        </div>
    </div>

    <div class="sorting-area">
        <div class="sorting-content">
            <span class="property-name">Name</span>
            <span class="property-name">Available From</span>
            <span class="property-name">Number of beds</span>
            <span class="property-name">
                Sort by price
                <a href="#" class="arrow-sort">
                    <span class="arrow-price glyphicon glyphicon-arrow-down" onclick="PriceFlipOnClick()"></span>
                </a>
            </span>
            <span class="property-name">
                Sort by rating
                <a href="#" class="arrow-sort">
                    <span class="arrow-rating glyphicon glyphicon-arrow-down" onclick="RatingFlipOnClick()"></span>
                </a>
            </span>
        </div>
    </div>



    @*<div class="star-rating">



            <a href="">
                <span id="1" class="glyphicon glyphicon-star-empty rating"></span>
            </a>
            <a href="">
                <span id="2" class="glyphicon glyphicon-star-empty rating"></span>
            </a>
            <a href="">
                <span id="3" class="glyphicon glyphicon-star-empty rating"></span>
            </a>
            <a href="">
                <span id="4" class="glyphicon glyphicon-star-empty rating"></span>
            </a>
            <a href="">
                <span id="5" class="glyphicon glyphicon-star-empty rating"></span>
            </a>

        </div>*@

    <div id="cityResults">
        @{
            Html.RenderPartial("_ListApartments", Model);
        }

    </div>


    @*@RenderSection("Scripts", required: false)*@
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ArrowFlip.js"></script>
    <script src="~/js/GetApartmentsByCity.js"></script>
    <script src="~/js/Rating.js"></script>




</body>
</html>
