@using StudentHousing.Models
@model ApartmentsViewModel

@{
    ViewData["Title"] = "Home Page";

}

<html>
<body style="margin-top:50px">



    <div class="search-bar">
        <div class="search-container">
            @Html.DropDownList("CityDDL", Model.Cities)


            <form id="form-block" caction="/action_page.php">
                <input id="name" type="text" placeholder="Search by Apartment Name..." name="searchByName" />
                <input id="availableFrom" type="date" placeholder="Search by Availability..." name="searchByDate" />
                <select id="numberOfBeds" name="searchByBeds">
                    <option value="" default="" selected="" hidden>no.Beds</option>
                    <option value="0">All</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
                <button id="submit" type="button"><i class="fa-search"></i>Search</button>
            </form>
        </div>
    </div>

    <div class="sorting-area">
        <div class="sorting-content">
            <span class="property-name">Name</span>
            <span class="property-name">Available From</span>
            <span class="property-name">Number of beds</span>
            <span class="property-name">
                Sort by price
                <a href="#" class="arrow-sort"><span class="arrow-price glyphicon glyphicon-arrow-down" onclick="PriceFlipOnClick()" id="sortPrice"></span></a>
            </span>
            <span class="property-name">
                Sort by rating
                <a href="#" class="arrow-sort"><span class="arrow-rating glyphicon glyphicon-arrow-down" onclick="RatingFlipOnClick()" id="sortRating"></span></a>
            </span>
        </div>
    </div>

    <div id="cityResults">
        @{
            Html.RenderPartial("_ListApartments", Model);
        }

    </div>


    @*@RenderSection("Scripts", required: false)*@
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/ArrowFlip.js"></script>
   
    <script src="~/js/Search.js"></script>

</body>
</html>
